header {
display: flex;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

header {
    display: flex;
    position: relative;
    padding: 10px 0 0 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    justify-content: space-between;
    background-image:url(https://cdn.pixabay.com/photo/2018/03/27/19/00/library-3267001_1280.jpg);
    background-size: cover;
    height: 500px;
}

nav {
    display: flex;
}

/* Nav Menu */
header h1 {
    display: flex;
    margin-left: 60px;
    align-items: center;
    font-size: 60px;
}

.header-bar {
    display: flex;
    background: rgb(255, 255, 255, 0.2);
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

header nav {
    display: flex;
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
/* Nav Menu Links */
a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

.about {
    display: flex;
}

.work {
    display: flex;
}

.contact {
    display: flex;
}