* {
margin: 0;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: whitesmoke;
font-size: 20px;
}

header {
display: flex;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

header {
    display: flex;
    position: relative;
    padding: 10px 0 0 10px;
    justify-content: space-between;
    background-image:url(https://cdn.pixabay.com/photo/2018/03/27/19/00/library-3267001_1280.jpg);
    background-size: cover;
    height: 500px;
}

nav {
    display: flex;
}

/* Nav Menu */
header h1 {
    display: flex;
    margin-left: 60px;
    align-items: center;
    font-size: 60px;
}

.header-bar {
    display: flex;
    background: rgb(177, 153, 125, 0.4);
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-size: 30px;
    font-weight: bold;
}
/* Nav Menu Links */
a {
    text-decoration: none;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

section {
    background-color: rgb(75, 60, 43);
}

.about {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#about {
    width: 10%;
    border-right: solid 2px whitesmoke;
}

.work {
    display: flex;
}

#work {
    width: 10%;
    border-right: solid 2px whitesmoke;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 10px;
    width: 80%;
    list-style: none;
    justify-content: space-evenly;
}

#gallery img {
    margin: 20px;
    width: 50%;
}

.gallery :first-child {
  width: 100%;
}

.contact {
    display: flex;

}

#contact {
    margin:5px 10px 5px 10px; 
    border-right: solid 2px whitesmoke;
}